.cursor{
    cursor: pointer;
    color: white;
}

.text-decorator-none{
    text-decoration: none;
}

.cor {
background-color:#1BFEA4!important;
color: #D25B06 !important;
font-weight: bold !important;
font-family: 'Inconsolata', monospace !important;




}

.text{
color: black !important;
font-family: 'Inconsolata', monospace !important;


}