.cursor{
    cursor: pointer;
    color: white;
}

.text-decorator-none{
    text-decoration: none;
}

.cor {
background-color:#FFB9BB!important;
color: #F42A00 !important;
font-weight: bold !important;



}

.text{
color: black !important;


}