.cursor{
    cursor: pointer;
  }
  
  .btnModal{
    border-color: #D25B06!important;
    background-color: #E8E8E8 !important;
    color: #D25B06 !important;
    font-weight: bold !important;
    font-family: 'Inconsolata'!important;


  }