.text-decorator-none {
    text-decoration: none;
}

.atualizar {
    background-color: #F42B00 !important; 
}

.cardTema{
    border-radius: 50px !important;
    background-color: white;
}

.fundoTema{
    background-color: #E8E8E8;
    padding: 5px;
}

.nomecardTema {
    font-family: 'Inconsolata'!important;
    font-size: 20px !important;
}

.titulocardTema {
    font-family: 'Inconsolata', monospace !important;
    text-shadow: bold !important;
    font-size: 25px !important;
    color: #D35B06!important;
    font-weight: bold !important;
    padding: 5px;


}

.btatualTema {
    background-color: #1BFEA4 !important;
    color: black!important;
    font-family: 'Inconsolata'!important;
    font-size: 15px !important;
    
}

.btdeletTema {
    background-color: white !important;
    color: #D35B06 !important;
    font-family: 'Inconsolata'!important;
    font-size: 15px !important;
    font-weight: bold !important;
}