.box1 {
    background-color:#FFBCBB;
    height: 120px;
}

.redes {
    font-size: 60px !important;
    color: #F42B00;
}

.box2 {
    background-color:#FFBCBB;
    height: 60px;
}

.textos {
    color: black;
}