.caixa {
    background-blend-mode: luminosity;
    background-color: #E8E8E8;
}

.imagemFundo {
    background-image: url(/src/assets/img/home.jpeg);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    
}

.titulo {
    color: #D25B06 !important;
    text-decoration: none !important;
    font-family: 'Inconsolata', monospace !important;
   
}

.botao {
    border-color: black!important;
    background-color:#E8E8E8 !important;
    color:black!important;
    font-weight: bold !important;
    font-family: 'Inconsolata'!important;

}

.postagens {
    background-color: #E8E8E8!important;
    

}

.decorationNone {
    text-decoration: none;
}

.subtitle {
    color: black !important;
    font-size: 18px !important;
    margin-bottom: 50px !important;
    font-weight: bold !important;
    font-family: 'Inconsolata'!important;

}
.bemvindo {
    padding: 10px !important;
   
}
